In [1]:
import pandas as pd
import os

In [2]:
total_temp = pd.read_csv("total_score/A0202_total_score.csv")
map_temp = pd.read_csv("CsvAndExcels/A0202.csv")

In [8]:
map_temp[["title", "mapx", "mapy", "firstimage"]]

,title,mapx,mapy,firstimage
0,가곡유황온천&스파,129.206230,37.150749,http://tong.visitkorea.or.kr/cms/resource/54/2...
1,가나아트파크,126.949750,37.725452,http://tong.visitkorea.or.kr/cms/resource/46/2...
2,가남체육공원,127.534914,37.201709,http://tong.visitkorea.or.kr/cms/resource/71/2...
3,가람리조트,128.018374,37.836481,http://tong.visitkorea.or.kr/cms/resource/68/2...
4,가막들공원,126.995697,37.391692,NaN
...,...,...,...,...
2097,SPA 1899 동인비,127.065343,37.506638,NaN
2098,STX리조트,127.963960,36.568171,http://tong.visitkorea.or.kr/cms/resource/87/1...
2099,UN조각공원,129.097628,35.129738,NaN
2100,W지우리조트,127.523304,37.799859,http://tong.visitkorea.or.kr/cms/resource/77/2...
2101,故박정렬여사 추모공원,128.360660,37.732180,NaN

In [14]:
temp = pd.merge(total_temp, map_temp[["title", "mapx", "mapy", "firstimage"]], left_on="name", right_on="title", how="left")
temp.columns

temp = temp[['name', '혼자', '액티비티', '자연', '힐링', 'addr1', 'cat1', 'cat2', 'cat3', '힐링_int', '혼자_int',
       '자연_int', '액티비티_int', 'province', 'city', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', 'mapx', 'mapy', 'firstimage']]

In [23]:
total_list = os.listdir("total_score/")

In [24]:
csv_list = os.listdir("CsvAndExcels/")

In [26]:
file_list = os.listdir("total_score/")[:-4]
for i, file in enumerate(file_list):
    temp = pd.merge(pd.read_csv("total_score/"+total_list[i]), pd.read_csv("CsvAndExcels/"+csv_list[i])[["title", "mapx", "mapy", "firstimage"]], left_on="name", right_on="title", how="left")
    temp = temp[['name', '혼자', '액티비티', '자연', '힐링', 'addr1', 'cat1', 'cat2', 'cat3', '힐링_int', '혼자_int',
       '자연_int', '액티비티_int', 'province', 'city', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', 'mapx', 'mapy', 'firstimage']]
    temp.to_csv(file[:5]+".csv")

In [3]:
total_list_2 = os.listdir("total_score_v2/")

In [4]:
total_list_2

['A0202.csv',
 'A0203.csv',
 'A0206.csv',
 'A0302.csv',
 'A0303.csv',
 'A0304.csv',
 'A0305.csv',
 'A0401.csv',
 'A0502.csv',
 'B0201.csv',
 'house_total_score.csv',
 'restaurant_total_score.csv',
 'total_total_score.csv',
 'tour_place_total_score.csv']

In [5]:
tour_place_total_score = pd.DataFrame()

for i, file in enumerate(total_list_2[:-6]):
    tour_place_total_score = pd.concat([tour_place_total_score, pd.read_csv("total_score_v2/"+total_list_2[i])])

tour_place_total_score.to_csv("tour_place_total_score.csv")

In [6]:
tour_place_total_score

,Unnamed: 0,name,혼자,액티비티,자연,힐링,addr1,cat1,cat2,cat3,...,6,7,8,9,10,11,12,mapx,mapy,firstimage
0,0,1004 뮤지엄파크,0.487677,0.627745,0.601192,0.538307,전라남도 신안군 자은서부2길 508-65,A02,A0202,A02020600,...,0.078307,0.069542,0.061353,0.083411,0.107757,0.051041,0.041205,125.995924,34.877982,http://tong.visitkorea.or.kr/cms/resource/48/3...
1,1,3.15해양누리공원,0.606776,0.693876,0.686257,0.644040,경상남도 창원시 마산합포구 월남동1가,A02,A0202,A02020700,...,0.093483,0.057808,0.072840,0.091016,0.101932,0.049727,0.037432,128.564065,35.186610,http://tong.visitkorea.or.kr/cms/resource/47/2...
2,2,5·18 기념공원,0.422950,0.497660,0.515443,0.531658,광주광역시 서구 내방로 152,A02,A0202,A02020700,...,0.093483,0.057808,0.072840,0.091016,0.101932,0.049727,0.037432,126.858568,35.155751,http://tong.visitkorea.or.kr/cms/resource/72/2...
3,3,5·18 자유공원,0.538463,0.650446,0.655645,0.660437,광주광역시 서구 상무평화로 13,A02,A0202,A02020700,...,0.093483,0.057808,0.072840,0.091016,0.101932,0.049727,0.037432,126.839959,35.148868,NaN
4,4,PTP 애견테마파크,0.421201,0.520039,0.508260,0.507741,전북특별자치도 익산시 진북로 294-18,A02,A0202,A02020600,...,0.078307,0.069542,0.061353,0.083411,0.107757,0.051041,0.041205,127.011260,36.031132,http://tong.visitkorea.or.kr/cms/resource/81/2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2335,2335,휴고보스 롯데 에비뉴엘월드타워점,0.569612,0.641577,0.664194,0.664776,서울특별시 송파구 올림픽로 300 4층,A04,A0401,A04011000,...,0.055818,0.039048,0.087534,0.077450,0.079941,0.145821,0.084388,127.104075,37.514165,http://tong.visitkorea.or.kr/cms/resource/26/2...
2336,2336,휴고보스 현대 대구점,0.461214,0.523815,0.505892,0.596197,대구광역시 중구 달구벌대로 2077,A04,A0401,A04011000,...,0.055818,0.039048,0.087534,0.077450,0.079941,0.145821,0.084388,128.590655,35.866670,http://tong.visitkorea.or.kr/cms/resource/91/2...
2337,2337,휴고보스 현대 목동점,0.494756,0.594271,0.605083,0.609164,서울특별시 양천구 목동동로 257,A04,A0401,A04011000,...,0.055818,0.039048,0.087534,0.077450,0.079941,0.145821,0.084388,126.874729,37.526329,NaN
2338,2338,휴고보스 현대 판교점,0.570128,0.597749,0.662996,0.762324,경기도 성남시 분당구 판교역로146번길 20 6층,A04,A0401,A04011000,...,0.055818,0.039048,0.087534,0.077450,0.079941,0.145821,0.084388,127.112103,37.392846,http://tong.visitkorea.or.kr/cms/resource/75/2...
2339,2339,휴고보스 현대아울렛 김포점,0.463746,0.554004,0.558377,0.551234,경기도 김포시 아라육로152번길 100,A04,A0401,A04011000,...,0.055818,0.039048,0.087534,0.077450,0.079941,0.145821,0.084388,126.785246,37.597289,http://tong.visitkorea.or.kr/cms/resource/42/2...

In [31]:
total_list

['A0202_total_score.csv',
 'A0203_total_score.csv',
 'A0206_total_score.csv',
 'A0302_total_score.csv',
 'A0303_total_score.csv',
 'A0304_total_score.csv',
 'A0305_total_score.csv',
 'A0401_total_score.csv',
 'A0502_total_score.csv',
 'B0201_total_score.csv',
 'house_total_score.csv',
 'restaurant_total_score.csv',
 'total_total_score.csv',
 'tour_place_total_score.csv']

In [35]:
total_total_score = pd.DataFrame()
total_total_score = pd.concat([total_total_score, pd.read_csv("total_score_v2/house_total_score.csv")])
total_total_score = pd.concat([total_total_score, pd.read_csv("total_score_v2/restaurant_total_score.csv")])
total_total_score = pd.concat([total_total_score, pd.read_csv("total_score_v2/tour_place_total_score.csv")])
total_total_score.to_csv("total_total_score.csv")