In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("C:/Users/SAMSUNG/Desktop/2024년 상반기/디지털 하나로/관광 프로젝트/TourApiFourRequestSender/CsvAndExcels/A0502.csv")
A0202 = pd.read_csv("topic_modeling_results/A0502.csv")
A0202["힐링_int"] = A0202["힐링"].replace({'O':1, 'X':0})
A0202["혼자_int"] = A0202["혼자"].replace({'O':1, 'X':0})
A0202["자연_int"] = A0202["자연"].replace({'O':1, 'X':0})
A0202["액티비티_int"] = A0202["액티비티"].replace({'O':1, 'X':0})

A0202_int_data = A0202.pivot_table(index="name", values=["힐링_int", "혼자_int", "자연_int", "액티비티_int"], aggfunc="sum").reset_index()

In [17]:
df2 = df[["title", "addr1", "cat1", "cat2", "cat3"]]
df2

,title,addr1,cat1,cat2,cat3
0,가가와,부산광역시 부산진구 중앙번영로 (6),A05,A0502,A05020300
1,가경목장,경기도 안산시 상록구 감골로 173,A05,A0502,A05020100
2,가경식당,충청남도 부여군 부여읍 성왕로 286,A05,A0502,A05020100
3,가고파부치기,강원특별자치도 평창군 평창읍 평창시장2길 14,A05,A0502,A05020100
4,가고파생삼겹구이,경상남도 창원시 마산합포구 해양관광로 962,A05,A0502,A05020100
...,...,...,...,...,...
16497,[착한가게] 탕짜,울산광역시 중구 시계탑거리 4,A05,A0502,A05020400
16498,[착한가게] 해금강천년송횟집,경상남도 거제시 남부면 해금강3길 17,A05,A0502,A05020300
16499,[착한가게]종가집,전라남도 목포시 노적봉길 22,A05,A0502,A05020100
16500,[착한가게]푸른솔아구집,전라남도 목포시 번화로 8-1,A05,A0502,A05020100
16501,[착한가격업소] GOGO 대패삼겹(구 외식마을),울산광역시 동구 진성14길 77,A05,A0502,A05020100

In [20]:
A0202 = pd.merge(A0202_int_data, df2, left_on="name", right_on="title", how="left")

In [22]:
def get_province(row):
    try:
        return row.split(' ')[0]
    except:
        return ''
def get_city(row):
    try:
        return row.split(' ')[1]
    except:
        return ''
A0202_data = A0202[["name", "addr1", "cat1", "cat2", "cat3", "힐링_int", "혼자_int", "자연_int", "액티비티_int"]]
A0202_data["province"] = A0202_data["addr1"].apply(get_province)
A0202_data["city"] = A0202_data["addr1"].apply(get_city)
A0202_data.to_csv("review_data/A0502_data.csv")

In [4]:
import os
data_list = os.listdir("raw_csvs//")
data_list

['A0202.csv',
 'A0203.csv',
 'A0206.csv',
 'A0302.csv',
 'A0303.csv',
 'A0304.csv',
 'A0305.csv',
 'A0401.csv',
 'A0502.csv',
 'B0201.csv']

In [6]:
def get_province(row):
    try:
        return row.split(' ')[0]
    except:
        return ''
def get_city(row):
    try:
        return row.split(' ')[1]
    except:
        return ''

df_total = pd.DataFrame()

for data in data_list:
    print(data)
    df = pd.read_csv("raw_csvs/"+data)
    
    df["힐링_int"] = df["힐링"].replace({'O':1, 'X':0})
    df["혼자_int"] = df["혼자"].replace({'O':1, 'X':0})
    df["자연_int"] = df["자연"].replace({'O':1, 'X':0})
    df["액티비티_int"] = df["액티비티"].replace({'O':1, 'X':0})
    
    df_data = df[["name", "addr1", "cat1", "cat2", "cat3", "힐링_int", "혼자_int", "자연_int", "액티비티_int"]]
    df_data["province"] = df_data["addr1"].apply(get_province)
    df_data["city"] = df_data["addr1"].apply(get_city)
    df_data.to_csv("review_data/"+data.replace(".csv", "_data.csv"))
    
    df_total = pd.concat([df_total, df_data])

A0202.csv
A0203.csv
A0206.csv

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)

A0302.csv
A0303.csv
A0304.csv
A0305.csv
A0401.csv

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["province"] = df_data["addr1"].apply(get_province)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_28380\4234545937.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["city"] = df_data["addr1"].apply(get_city)

A0502.csv

KeyError: "['addr1', 'cat1', 'cat2', 'cat3'] not in index"

In [26]:
print(df_total["province"].unique().tolist())

['전라남도', '경상남도', '광주광역시', '전북특별자치도', '충청북도', '서울특별시', '부산광역시', '경기도', '강원특별자치도', '경상북도', '울산광역시', '인천광역시', '대구광역시', '충청남도', '', '세종특별자치시', '제주특별자치도', '대전광역시', '18,', '대전광역시유성구']

In [27]:
df_total.to_csv("review_data/total_data.csv")

In [32]:
df_total_summary_temp = df_total.pivot_table(index="province", values=["힐링_int", "혼자_int", "자연_int", "액티비티_int"], aggfunc="sum").iloc[2:]
df_total_summary_temp = df_total_summary_temp.reset_index()

In [34]:
cond_normal = (df_total_summary_temp["province"]!="대전광역시유성구")
df_total_summary_temp.loc[cond_normal].to_csv("review_data/total_data_summary.csv")

In [35]:
A0202_review = pd.read_csv("review_data/A0202_data.csv")
A0202_search = pd.read_csv("review_score/A0202.csv")

In [36]:
A0202_review

,Unnamed: 0,name,addr1,cat1,cat2,cat3,힐링_int,혼자_int,자연_int,액티비티_int,province,city
0,0,1004 뮤지엄파크,전라남도 신안군 자은서부2길 508-65,A02,A0202,A02020600,0,0,1,0,전라남도,신안군
1,1,3.15해양누리공원,경상남도 창원시 마산합포구 월남동1가,A02,A0202,A02020700,1,0,1,0,경상남도,창원시
2,2,5·18 기념공원,광주광역시 서구 내방로 152,A02,A0202,A02020700,1,0,1,0,광주광역시,서구
3,3,5·18 자유공원,광주광역시 서구 상무평화로 13,A02,A0202,A02020700,0,0,0,0,광주광역시,서구
4,4,PTP 애견테마파크,전북특별자치도 익산시 진북로 294-18,A02,A0202,A02020600,0,0,0,0,전북특별자치도,익산시
...,...,...,...,...,...,...,...,...,...,...,...,...
374,374,효석 달빛언덕,강원특별자치도 평창군 봉평면 효석문학길 54,A02,A0202,A02020600,0,0,1,1,강원특별자치도,평창군
375,375,후포근린공원,경상북도 울진군 등기산길 40,A02,A0202,A02020700,1,0,1,0,경상북도,울진군
376,376,휘닉스찜질방 힐링센터,강원특별자치도 평창군 봉평면 태기로 306-7,A02,A0202,A02020400,0,0,0,0,강원특별자치도,평창군
377,377,흰돌메공원,경상남도 창원시 진해구 남영로 280,A02,A0202,A02020700,1,1,0,0,경상남도,창원시
378,378,힐링턴리조트(힐링턴콘도),경상북도 영덕군 남정면 동해대로 3478,A02,A0202,A02020200,1,0,1,0,경상북도,영덕군

In [37]:
A0202_search

     Unnamed: 0           name        혼자      액티비티        자연        힐링
0             0     1004 뮤지엄파크  0.487677  0.627745  0.601192  0.538307
1             1     3.15해양누리공원  0.606776  0.693876  0.686257  0.644040
2             2      5·18 기념공원  0.422950  0.497660  0.515443  0.531658
3             3      5·18 자유공원  0.538463  0.650446  0.655645  0.660437
4             4     PTP 애견테마파크  0.421201  0.520039  0.508260  0.507741
..          ...            ...       ...       ...       ...       ...
374         374        효석 달빛언덕  0.586424  0.702748  0.688845  0.606622
375         375         후포근린공원  0.363332  0.445966  0.428943  0.387143
376         376    휘닉스찜질방 힐링센터  0.503898  0.638755  0.629986  0.616918
377         377          흰돌메공원  0.397527  0.514681  0.517992  0.550119
378         378  힐링턴리조트(힐링턴콘도)  0.570266  0.699934  0.685394  0.648303

[379 rows x 6 columns]

In [39]:
A0202_review_and_search = pd.merge(A0202_review, A0202_search, on="name", how="inner")
A0202_review_and_search.to_csv("A0202_review_and_search.csv")

In [40]:
A0202_review_and_search

,Unnamed: 0_x,name,addr1,cat1,cat2,cat3,힐링_int,혼자_int,자연_int,액티비티_int,province,city,Unnamed: 0_y,혼자,액티비티,자연,힐링
0,0,1004 뮤지엄파크,전라남도 신안군 자은서부2길 508-65,A02,A0202,A02020600,0,0,1,0,전라남도,신안군,0,0.487677,0.627745,0.601192,0.538307
1,1,3.15해양누리공원,경상남도 창원시 마산합포구 월남동1가,A02,A0202,A02020700,1,0,1,0,경상남도,창원시,1,0.606776,0.693876,0.686257,0.644040
2,2,5·18 기념공원,광주광역시 서구 내방로 152,A02,A0202,A02020700,1,0,1,0,광주광역시,서구,2,0.422950,0.497660,0.515443,0.531658
3,3,5·18 자유공원,광주광역시 서구 상무평화로 13,A02,A0202,A02020700,0,0,0,0,광주광역시,서구,3,0.538463,0.650446,0.655645,0.660437
4,4,PTP 애견테마파크,전북특별자치도 익산시 진북로 294-18,A02,A0202,A02020600,0,0,0,0,전북특별자치도,익산시,4,0.421201,0.520039,0.508260,0.507741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,374,효석 달빛언덕,강원특별자치도 평창군 봉평면 효석문학길 54,A02,A0202,A02020600,0,0,1,1,강원특별자치도,평창군,374,0.586424,0.702748,0.688845,0.606622
375,375,후포근린공원,경상북도 울진군 등기산길 40,A02,A0202,A02020700,1,0,1,0,경상북도,울진군,375,0.363332,0.445966,0.428943,0.387143
376,376,휘닉스찜질방 힐링센터,강원특별자치도 평창군 봉평면 태기로 306-7,A02,A0202,A02020400,0,0,0,0,강원특별자치도,평창군,376,0.503898,0.638755,0.629986,0.616918
377,377,흰돌메공원,경상남도 창원시 진해구 남영로 280,A02,A0202,A02020700,1,1,0,0,경상남도,창원시,377,0.397527,0.514681,0.517992,0.550119
378,378,힐링턴리조트(힐링턴콘도),경상북도 영덕군 남정면 동해대로 3478,A02,A0202,A02020200,1,0,1,0,경상북도,영덕군,378,0.570266,0.699934,0.685394,0.648303

In [42]:
A0202_review = pd.read_csv("review_data/A0304_data.csv")
A0202_search = pd.read_csv("review_score/A0304.csv")

A0202_review_and_search = pd.merge(A0202_review, A0202_search, on="name", how="inner")
A0202_review_and_search.to_csv("A0304_review_and_search.csv")

In [43]:
A0202_review_and_search

,Unnamed: 0_x,name,addr1,cat1,cat2,cat3,힐링_int,혼자_int,자연_int,액티비티_int,province,city,Unnamed: 0_y,혼자,액티비티,자연,힐링
0,0,공주 경비행기,충청남도 공주시 의당면 수촌리,A03,A0304,A03040200,0,0,1,0,충청남도,공주시,0,0.520756,0.613839,0.626285,0.650959
1,1,군산 패러글라이딩 스쿨,전북특별자치도 군산시 성산면 마동1길 5-22,A03,A0304,A03040300,0,0,0,1,전북특별자치도,군산시,1,0.583969,0.710168,0.674964,0.656782
2,2,단양 패러 명가,충청북도 단양군 가곡면 두산길 262,A03,A0304,A03040300,0,0,1,0,충청북도,단양군,2,0.570966,0.705546,0.661991,0.630407
3,3,단양 패러글라이딩 패러는 내친구,충청북도 단양군 가곡면 두산길 196-52,A03,A0304,A03040300,0,0,0,0,충청북도,단양군,3,0.612359,0.638452,0.737021,0.867417
4,4,단양 패러일번지,충청북도 단양군 가곡면 두산길 196-91,A03,A0304,A03040300,0,0,0,1,충청북도,단양군,4,0.541690,0.680678,0.638706,0.610792
5,5,단양드림레저 패러글라이딩,충청북도 단양군 수변로 59-1 롯데게스트하우스,A03,A0304,A03040300,0,0,0,1,충청북도,단양군,5,0.586179,0.723794,0.703335,0.645627
6,6,단양패러에반하다,충청북도 단양군 가곡면 두산길 196-88,A03,A0304,A03040300,0,0,1,1,충청북도,단양군,6,0.565925,0.702706,0.653264,0.599549
7,7,대천 국가대표 패러글라이딩,충청남도 보령시 남포면 창동1길 233-25,A03,A0304,A03040300,0,0,0,1,충청남도,보령시,7,0.547579,0.683369,0.641243,0.628757
8,8,선유 스카이썬라인,전북특별자치도 군산시 선유북길 136 공중하강체험시설,A03,A0304,A03040100,0,0,1,1,전북특별자치도,군산시,8,0.547511,0.681113,0.655804,0.628297
9,9,스카이다이브코리아,충청북도 충주시 단암길 19-1,A03,A0304,A03040100,0,0,1,0,충청북도,충주시,9,0.562290,0.683872,0.653496,0.602438
10,10,양평 미래항공스포츠,경기도 양평군 옥천면 동막길 49,A03,A0304,A03040300,0,1,1,1,경기도,양평군,10,0.549855,0.700004,0.651374,0.587716
11,11,에어 피닉스,전북특별자치도 완주군 구이면 덕천리,A03,A0304,A03040300,0,0,1,0,전북특별자치도,완주군,11,0.503914,0.628822,0.581094,0.523651
12,12,여수국가대표패러글라이딩,전라남도 여수시 망양로 225,A03,A0304,A03040300,1,0,1,1,전라남도,여수시,12,0.554787,0.692764,0.642822,0.604047
13,13,조나단 패러글라이딩 스쿨,강원특별자치도 평창군 평창읍 노람들길 209-5,A03,A0304,A03040300,0,1,1,1,강원특별자치도,평창군,13,0.568901,0.699947,0.670835,0.625060
14,14,짱 패러글라이딩,충청북도 단양군 가곡면 두산길 262,A03,A0304,A03040300,0,0,1,1,충청북도,단양군,14,0.558312,0.691505,0.678487,0.625083
15,15,청춘 패러,충청북도 단양군 가곡면 두산길 262,A03,A0304,A03040300,0,0,0,1,충청북도,단양군,15,0.574375,0.714144,0.670032,0.615806
16,16,케이원항공경비행기조종체험비행,전북특별자치도 남원시 식정동,A03,A0304,A03040200,0,0,1,0,전북특별자치도,남원시,16,0.513484,0.577257,0.573394,0.551200
17,17,패러이야기,충청북도 단양군 가곡면 두산길 196-86,A03,A0304,A03040300,0,0,0,1,충청북도,단양군,17,0.541734,0.693545,0.647284,0.604570
18,18,합천패러글라이딩파크,경상남도 합천군 초계면 우회로 179,A03,A0304,A03040300,0,0,1,0,경상남도,합천군,18,0.616043,0.666192,0.718278,0.792595

In [62]:
file = open("C:/Users/SAMSUNG/Desktop/2024년 상반기/디지털 하나로/관광 프로젝트/recommender/search_score/search_dict.txt", "r", encoding="utf-8")
code_list = file.readlines()
code_list

codes = []
subcategories = []

for _code_list in code_list:
    codes.append(_code_list.split('\t')[0])
    subcategories.append(_code_list.split('\t')[3].replace('\n', ''))

In [57]:
df_codes = pd.DataFrame()
df_codes["code"] = codes
df_codes["subcategory"] = subcategories

In [60]:
df_codes.to_csv("df_codes.csv")

In [61]:
codes

['A01010100',
 'A01010200',
 'A01010300',
 'A01010400',
 'A01010500',
 'A01010600',
 'A01010700',
 'A01010800',
 'A01010900',
 'A01011000',
 'A01011100',
 'A01011200',
 'A01011300',
 'A01011400',
 'A01011600',
 'A01011700',
 'A01011800',
 'A01011900',
 'A01020100',
 'A01020200',
 'A02010100',
 'A02010200',
 'A02010300',
 'A02010400',
 'A02010500',
 'A02010600',
 'A02010700',
 'A02010800',
 'A02010900',
 'A02011000',
 'A02020200',
 'A02020300',
 'A02020400',
 'A02020500',
 'A02020600',
 'A02020700',
 'A02020800',
 'A02030100',
 'A02030200',
 'A02030300',
 'A02030400',
 'A02030600',
 'A02040400',
 'A02040600',
 'A02040800',
 'A02040900',
 'A02041000',
 'A02050100',
 'A02050200',
 'A02050300',
 'A02050400',
 'A02050500',
 'A02050600',
 'A02060100',
 'A02060200',
 'A02060300',
 'A02060400',
 'A02060500',
 'A02060600',
 'A02060700',
 'A02060800',
 'A02060900',
 'A02061000',
 'A02061100',
 'A02061200',
 'A02061300',
 'A02061400',
 'A02070100',
 'A02070200',
 'A02080100',
 'A02080200',
 'A02080300',
 'A02080400',
 'A02080500',
 'A02080600',
 'A02080800',
 'A02080900',
 'A02081000',
 'A02081100',
 'A02081200',
 'A02081300',
 'C01120001',
 'C01130001',
 'C01140001',
 'C01150001',
 'C01160001',
 'C01170001',
 'A03010200',
 'A03010300',
 'A03020200',
 'A03020300',
 'A03020400',
 'A03020500',
 'A03020600',
 'A03020700',
 'A03020800',
 'A03020900',
 'A03021000',
 'A03021100',
 'A03021200',
 'A03021300',
 'A03021400',
 'A03021500',
 'A03021600',
 'A03021700',
 'A03021800',
 'A03022000',
 'A03022100',
 'A03022200',
 'A03022300',
 'A03022400',
 'A03022600',
 'A03022700',
 'A03030100',
 'A03030200',
 'A03030300',
 'A03030400',
 'A03030500',
 'A03030600',
 'A03030700',
 'A03030800',
 'A03040100',
 'A03040200',
 'A03040300',
 'A03040400',
 'A03050100',
 'B02010100',
 'B02010500',
 'B02010600',
 'B02010700',
 'B02010900',
 'B02011000',
 'B02011100',
 'B02011200',
 'B02011300',
 'B02011600',
 'A04010100',
 'A04010200',
 'A04010300',
 'A04010400',
 'A04010500',
 'A04010600',
 'A04010700',
 'A04010900',
 'A04011000',
 'A05020100',
 'A05020200',
 'A05020300',
 'A05020400',
 'A05020700',
 'A05020900',
 'A05021000']

In [66]:
df_search = pd.read_csv("C:/Users/SAMSUNG/Desktop/2024년 상반기/디지털 하나로/관광 프로젝트/recommender/search_score/search_score.csv")
df_search.columns = ["날짜"]+codes
df_search.to_csv("search_socre_code_ver.csv")

In [78]:
df_search_v2 = df_search.T.iloc[1:]
df_search_v2.columns = list(range(4, 12+1))+list(range(1, 4))
df_search_v2 = df_search_v2.fillna(0)
df_search_v2 = df_search_v2.reset_index()
df_search_v2.to_csv("search_socre_code_ver_v2.csv")

In [79]:
df_search_v2

,index,4,5,6,7,8,9,10,11,12,1,2,3
0,A01010100,0.065042,0.082329,0.069557,0.051663,0.046852,0.066627,0.072588,0.073197,0.116909,0.109734,0.124436,0.068440
1,A01010200,0.067924,0.108973,0.092441,0.065836,0.090896,0.080342,0.098600,0.077688,0.053716,0.055462,0.064557,0.067787
2,A01010300,0.128846,0.096441,0.104217,0.073710,0.088496,0.083465,0.122041,0.074115,0.035752,0.032662,0.043643,0.059145
3,A01010400,0.083437,0.083768,0.091598,0.076468,0.070416,0.078460,0.084929,0.073609,0.068055,0.070037,0.067187,0.073614
4,A01010500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,A05020300,0.068492,0.071916,0.073338,0.066092,0.077755,0.060635,0.083396,0.059360,0.062174,0.065078,0.071795,0.071322
148,A05020400,0.072585,0.077010,0.072186,0.080335,0.083990,0.076365,0.075003,0.074777,0.072239,0.069823,0.084311,0.082774
149,A05020700,0.116409,0.122511,0.068390,0.064776,0.101389,0.065480,0.053511,0.058205,0.074633,0.067592,0.055696,0.111246
150,A05020900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
151,A05021000,0.090470,0.084132,0.084420,0.085167,0.077635,0.069138,0.072630,0.062192,0.070913,0.088133,0.079001,0.070312

In [85]:
A0202_review_and_search = pd.read_csv("review_and_search/A0202_review_and_search.csv")
A0303_review_and_search = pd.read_csv("review_and_search/A0303_review_and_search.csv")
A0304_review_and_search = pd.read_csv("review_and_search/A0304_review_and_search.csv")

for i in range(1,12+1):
    A0202_review_and_search[str(i)] = 0
    A0303_review_and_search[str(i)] = 0
    A0304_review_and_search[str(i)] = 0

In [86]:
A0202_review_and_search

,Unnamed: 0,Unnamed: 0_x,name,addr1,cat1,cat2,cat3,힐링_int,혼자_int,자연_int,...,3,4,5,6,7,8,9,10,11,12
0,0,0,1004 뮤지엄파크,전라남도 신안군 자은서부2길 508-65,A02,A0202,A02020600,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,3.15해양누리공원,경상남도 창원시 마산합포구 월남동1가,A02,A0202,A02020700,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,2,5·18 기념공원,광주광역시 서구 내방로 152,A02,A0202,A02020700,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,3,5·18 자유공원,광주광역시 서구 상무평화로 13,A02,A0202,A02020700,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,PTP 애견테마파크,전북특별자치도 익산시 진북로 294-18,A02,A0202,A02020600,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,374,374,효석 달빛언덕,강원특별자치도 평창군 봉평면 효석문학길 54,A02,A0202,A02020600,0,0,1,...,0,0,0,0,0,0,0,0,0,0
375,375,375,후포근린공원,경상북도 울진군 등기산길 40,A02,A0202,A02020700,1,0,1,...,0,0,0,0,0,0,0,0,0,0
376,376,376,휘닉스찜질방 힐링센터,강원특별자치도 평창군 봉평면 태기로 306-7,A02,A0202,A02020400,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,377,377,흰돌메공원,경상남도 창원시 진해구 남영로 280,A02,A0202,A02020700,1,1,0,...,0,0,0,0,0,0,0,0,0,0
378,378,378,힐링턴리조트(힐링턴콘도),경상북도 영덕군 남정면 동해대로 3478,A02,A0202,A02020200,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [102]:
for i in range(len(A0202_review_and_search)):
    cat3 = A0202_review_and_search.iloc[i]["cat3"]
    target_values = df_search_v2.loc[df_search_v2["index"]==cat3][list(range(1,12+1))].iloc[0].tolist()
    
    for j, target_value in enumerate(target_values):
        if(i==0):
            print(target_value)
        A0202_review_and_search[str(j+1)].iloc[i] = target_value

0.0478343686371171
0.0591923430720146
0.0826702726663279
0.1121551452379218
0.099958243773735
0.0783071214417747
0.0695418169864175
0.0613527789712206
0.0834111863619787
0.1077573297864273
0.0510406583356337
0.0412051483547964

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\1630898245.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0202_review_and_search[str(j+1)].iloc[i] = target_value

In [104]:
A0202_review_and_search.to_csv("A0202_total_score.csv")

In [105]:
for i in range(len(A0303_review_and_search)):
    cat3 = A0303_review_and_search.iloc[i]["cat3"]
    target_values = df_search_v2.loc[df_search_v2["index"]==cat3][list(range(1,12+1))].iloc[0].tolist()
    
    for j, target_value in enumerate(target_values):
        if(i==0):
            print(target_value)
        A0303_review_and_search[str(j+1)].iloc[i] = target_value

0.0454234140787755
0.0578642109496796
0.066625272248072
0.1068187948685391
0.0976052276290994
0.0880388273674152
0.0811646015211774
0.087619424005906
0.092958768210894
0.0907749389009915
0.0636785280476348
0.0454793335162679

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\976980192.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0303_review_and_search[str(j+1)].iloc[i] = target_value

In [106]:
A0303_review_and_search.to_csv("A0303_total_score.csv")

In [107]:
for i in range(len(A0304_review_and_search)):
    cat3 = A0304_review_and_search.iloc[i]["cat3"]
    target_values = df_search_v2.loc[df_search_v2["index"]==cat3][list(range(1,12+1))].iloc[0].tolist()
    
    for j, target_value in enumerate(target_values):
        if(i==0):
            print(target_value)
        A0304_review_and_search[str(j+1)].iloc[i] = target_value

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_21436\2860148190.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A0304_review_and_search[str(j+1)].iloc[i] = target_value

In [108]:
A0304_review_and_search.to_csv("A0304_total_score.csv")

In [110]:
df_total_score = pd.DataFrame()

df_total_score = pd.concat([df_total_score, A0202_review_and_search])
df_total_score = pd.concat([df_total_score, A0303_review_and_search])
df_total_score = pd.concat([df_total_score, A0304_review_and_search])

In [112]:
df_total_score.to_csv("total_total_score.csv")